
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-text {
    color: #2E2F42;
    line-height: 1.17;
}


.menu-link {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-style: Bold;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
vertical-align: middle;
text-transform: uppercase;
color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}


.site-address {
  font-style: normal;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.container-your-business {
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.business-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.business-button:hover {
color:#404BBF;
}

/* Section Three - Start */

 .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

 .feature-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

 /* Section - Three - Completed */

 .container-our-team {
     background-color: #F4F4FD;
 }

 
 .section-title {
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color: #2e2f42;
 }

 .feature-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .feature-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }


 .team-card {
     background-color: #FFFFFF;
 }


/* Section - 4 - Start */
.portfolio-heading {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;
}
/* Section - 4 - Completed */



 /* Footer - Start */

 .footer-info {
    background-color: #2e2f42;
 }

 .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 }

 .footer-studio {
    color: #f4f4fd;
 }

 .footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
 }

 /* Footer - Completed */






